#amplify
\#current-cloud-backend
.config/local-*
mock-data
backend/amplify-meta.json
backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-gradle-config.json
amplifyxc.config
